<div id="navbar">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ADMIN</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Expense Operations<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="kopie" routerLink="create">Generate Expense</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>



<div class="container">
  <h1>Expense Data Table</h1>
  <table class="table table-striped" [mfData]="allResourceDetails" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
      <th style="width: 10%">
        <mfDefaultSorter by="Project_Name">Title</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="Project_Description">Amount</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="Start_Date">Expense Date</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="End_Date">Expense type</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="End_Date">Project Id</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="End_Date">Resource Id</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="End_Date">Status</mfDefaultSorter>
      </th>
      <th style="width: 30%">
        Options
      </th>
    </tr>
    </thead>
    <div *ngIf="allResourceDetails.length === 0">
      <h2>No Expenses...!!</h2>
    </div>
    <tbody>

    <tr bgcolor="#fffaf0" *ngFor="let item of allResourceDetails">
      <td>{{item.title}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.expenseDate}}</td>
      <td>{{item.expensetype}}</td>
      <td>{{item.projectId}}</td>
      <td>{{item.resourceId}}</td>
      <td>{{item.status}}</td>
      <td>
        <button type="button" class="btn btn-info " routerLink="{{item.id}}">View</button>
        &emsp;
        <button type="button" class="btn btn-primary " routerLink="{{item.id}}/edit">Edit</button>&emsp;
        <button type="button" class="btn btn-danger" (click)="deleteProjectData(item)">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
