<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav" *ngIf="loggedPerson != null">
      <li ><a><h4>Home</h4></a></li>
      <!--<div *ngIf="loggedPerson != null">-->
      <li><a role="button" (click)="gotoProject()"><h4>Projects</h4></a></li>
      <li *ngIf="loggedPerson === 'ExpenseAdmin'"><a role="button" (click)="gotoResource()"><h4>Resources</h4></a></li>

      <!--</div>-->
    </ul>
    <a class="navbar-brand pull-right" role="button" (click)="revertToHome()">LogOut</a>
  </div>
</nav>

<button class="btn btn-success pull-right" (click)="revertToNewDashBoard()">redirect to new DashBoard</button>
