<!--                                         Buttons for the SignUp and Projects                                         -->
<div class="col-sm pull-right">
  <a  class="btn btn-info btn-lg" (click)="SignUp.show()">
    <span class="glyphicon glyphicon-user"></span> Sign Up for Resource
  </a>
  <a  class="btn btn-success btn-lg" (click)="projects.show()">
    <span class="glyphicon glyphicon-plus"></span>Add Project
  </a>
</div>




<!--                                         SignUp Popup Html Code                                         -->
<div class="modal fade" bsModal #SignUp="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">SignUp Form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="SignUp.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="SignUpForm" (ngSubmit)="signUpPopup(SignUpForm.value)">
          <div class="form-group" [ngClass]="{'has-error':!SignUpForm.controls['firstName'].valid && SignUpForm.controls['firstName'].touched}">
            <label>First Name :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                <input class="form-control" type="text" placeholder="Enter the FirstName" [formControl]="SignUpForm.controls['firstName']">
                <div *ngIf="SignUpForm.controls['firstName'].hasError('required') && SignUpForm.controls['firstName'].touched" class="alert alert-danger">
                  You must include a First Name
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!SignUpForm.controls['lastName'].valid && SignUpForm.controls['lastName'].touched}">
            <label>Last Name :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                <input class="form-control" type="text" placeholder="Enter the LastName" [formControl]="SignUpForm.controls['lastName']">
                <div *ngIf="SignUpForm.controls['lastName'].hasError('required') && SignUpForm.controls['lastName'].touched" class="alert alert-danger">
                  You must include a Last Name
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!SignUpForm.controls['DOB'].valid && SignUpForm.controls['DOB'].touched}">
            <label>DOB :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                <input class="form-control" type="date" placeholder="Enter the DOB" [formControl]="SignUpForm.controls['DOB']">
                <div *ngIf="SignUpForm.controls['DOB'].hasError('required') && SignUpForm.controls['DOB'].touched" class="alert alert-danger">
                  You must include a DOB
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!SignUpForm.controls['emailId'].valid && SignUpForm.controls['emailId'].touched}">
            <label>Email-Id:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                <input class="form-control" type="email" placeholder="Enter the Email-Id" [formControl]="SignUpForm.controls['emailId']">
                <div *ngIf="SignUpForm.controls['emailId'].hasError('required') && SignUpForm.controls['emailId'].touched" class="alert alert-danger">
                  You must include a email-Id
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!SignUpForm.controls['password'].valid && SignUpForm.controls['password'].touched}">
            <label>Password :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                <input class="form-control" type="password" placeholder="Enter the Password" [formControl]="SignUpForm.controls['password']">
                <div *ngIf="SignUpForm.controls['password'].hasError('required') && SignUpForm.controls['password'].touched" class="alert alert-danger">
                  You must include a Password
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!SignUpForm.controls['role'].valid && SignUpForm.controls['role'].touched}">
            <label>Role :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                <select name="role" class="form-control" [formControl]="SignUpForm.controls['role']">
                  <option value="Manager">Manager</option>
                  <option value="Staff">Staff</option>
                  <option value="ExpenseAdmin">ExpenseAdmin</option>
                </select>
                <div *ngIf="SignUpForm.controls['role'].hasError('required') && SignUpForm.controls['role'].touched" class="alert alert-danger">
                  You must include your Role
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!SignUpForm.controls['joinDate'].valid && SignUpForm.controls['joinDate'].touched}">
            <label>Join Date :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                <input class="form-control" type="date" placeholder="Enter the joinDate" [formControl]="SignUpForm.controls['joinDate']">
                <div *ngIf="SignUpForm.controls['joinDate'].hasError('required') && SignUpForm.controls['joinDate'].touched" class="alert alert-danger">
                  You must include a Date of Joining
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!SignUpForm.controls['endDate'].valid && SignUpForm.controls['emailId'].touched}">
            <label>End Date :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                <input class="form-control" type="date" placeholder="Enter the endDate" [formControl]="SignUpForm.controls['endDate']">
                <div *ngIf="SignUpForm.controls['endDate'].hasError('required') && SignUpForm.controls['endDate'].touched" class="alert alert-danger">
                  You must include a Date of Ending
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm pull-right">
            <button type="button" class="btn btn-danger" (click)="SignUp.hide()">Cancel</button>

            <button type="submit" class="btn btn-primary" [disabled]="!SignUpForm.valid">Submit</button>
          </div>
        </form>
        <div class="modal-footer">
          <h4 class="modal-title pull-right"></h4>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--                                         PopUp Model for the Projects                                         -->
<div class="modal fade" bsModal #projects="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Projects Form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="projects.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="projectsForm" (ngSubmit)="projectsPopup(projectsForm.value)">
          <div class="form-group" [ngClass]="{'has-error':!projectsForm.controls['projectName'].valid && projectsForm.controls['projectName'].touched}">
            <label>Project Name</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i></span>
                <input class="form-control" type="text" placeholder="Enter the Project Name" [formControl]="projectsForm.controls['projectName']">
                <div *ngIf="projectsForm.controls['projectName'].hasError('required') && projectsForm.controls['projectName'].touched" class="alert alert-danger">
                  You must include a Project Name
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!projectsForm.controls['projectDescription'].valid && projectsForm.controls['projectDescription'].touched}">
            <label>Project Description :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                <textarea class="form-control" type="text" placeholder="Enter the Project Description" [formControl]="projectsForm.controls['projectDescription']"></textarea>
                <div *ngIf="projectsForm.controls['projectDescription'].hasError('required') && projectsForm.controls['projectDescription'].touched" class="alert alert-danger">
                  You must include a Password
                </div>

              </div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!projectsForm.controls['startDate'].valid && projectsForm.controls['startDate'].touched}">
            <label>Start Date :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                <input class="form-control" type="date" placeholder="Enter the Start Date" [formControl]="projectsForm.controls['startDate']">
                <div *ngIf="projectsForm.controls['startDate'].hasError('required') && projectsForm.controls['startDate'].touched" class="alert alert-danger">
                  You must include a Project Start Date
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!projectsForm.controls['endDate'].valid && projectsForm.controls['endDate'].touched}">
            <label>End Date :</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                <input class="form-control" type="date" placeholder="Enter the End Date" [formControl]="projectsForm.controls['endDate']">
                <div *ngIf="projectsForm.controls['endDate'].hasError('required') && projectsForm.controls['endDate'].touched" class="alert alert-danger">
                  You must include a Project End Date
                </div>
              </div>
            </div>
          </div>


          <div class="col-sm pull-right">
            <button type="button" class="btn btn-danger" (click)="projects.hide()">Cancel</button>

            <button type="submit" class="btn btn-primary" [disabled]="!projectsForm.valid">Submit</button>
          </div>
        </form>
        <div class="modal-footer">
          <h4 class="modal-title pull-right"></h4>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
