<div id="navbar">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ADMIN</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Project Operations<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="kopie" routerLink="/project/create">ADD PROJECT</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!--

<p>DATA TABLE FOR PROJECTS</p>
<div class="container">
  <h1>Project Data Table</h1>
  <table class="table table-striped" [mfData]="allProjectDetails" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
      <th style="width: 15%">
        <mfDefaultSorter by="Item_Name">Project Name</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="Actual_Price_of_Product">Project Description</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="Quantity">Start Date</mfDefaultSorter>
      </th>
      <th style="width: 15%" type="number">
        <mfDefaultSorter by="Amount">End Date</mfDefaultSorter>
      </th>
      <th style="width: 15%" type="number">
        <mfDefaultSorter by="Date">Status</mfDefaultSorter>
      </th>
      <th style=" width: 25%">
        <mfDefaultSorter by="mobnum">Options</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <div *ngIf="allProjectDetails.length === 0">
      <h2>No Projects...!!</h2>
    </div>
    <tbody>

    <tr bgcolor="#fffaf0" *ngFor="let item of allProjectDetails">
      <td>{{item.projectName}}</td>
      <td>{{item.projectDescription}}</td>
      <td>{{item.projectStartDate}}</td>
      <td>{{item.projectEndDate}}</td>
      <td>{{item.projectStatus}}</td>
      <td>
        <button type="button" class="btn btn-info " (click)="ViewProjectdata(item)">View</button>
        &emsp;
        <button type="button" class="btn btn-primary " (click)="EditProjectData(item)">Edit</button>&emsp;
        <button type="button" class="btn btn-danger" (click)="DeleteProjectData(item)">Delete</button>
      </td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
-->
