<div id="navbar">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ADMIN</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Project Operations<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="kopie" routerLink="create">ADD PROJECT</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>


<!--<div *ngIf="allProjectNamesForAutoCompleter.length > 0">-->
<div>
  <div class="container">
    <div class="col-sm-4 pull-right">
      <ng-select [allowClear]="true"
                 [items]="allProjectNamesForAutoCompleter"
                 (data)="refreshValue($event)"
                 (selected)="selected($event)"
                 (removed)="removed($event)"
                 (typed)="typed($event)"
                 placeholder="No Project Name selected">
      </ng-select>
    </div>
  </div>
</div>


<div class="container">
  <h1>Project Data Table</h1>
  <table class="table table-striped" [mfData]="allProjectDetails" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
      <th style="width: 15%">
        <mfDefaultSorter by="Project_Name">Project Name</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="Project_Description">Project Description</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="Start_Date">Start Date</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="End_Date">End Date</mfDefaultSorter>
      </th>
      <th style="width: 40%">
        Options
      </th>
    </tr>
    </thead>
    <div *ngIf="allProjectDetails.length === 0">
      <h2>No Projects...!!</h2>
    </div>
    <tbody>

    <tr bgcolor="#fffaf0" *ngFor="let item of allProjectDetails">
      <td>{{item.projectName}}</td>
      <td>{{item.projectDescription}}</td>
      <td>{{item.projectStartDate}}</td>
      <td>{{item.projectEndDate}}</td>
      <td>
        <button type="button" class="btn btn-info " routerLink="{{item.id}}">View</button>
        &emsp;
        <button type="button" class="btn btn-primary " routerLink="{{item.id}}/edit">Edit</button>&emsp;
        <button type="button" class="btn btn-danger" (click)="deleteProjectData(item)">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>




<div bsModal #DeleteProjectDetails="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Project</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeleteProjectDetails()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do You want to delete the project
        <p><b>{{tempProjectName}}</b>
        </p>
      </div>
      <div class="modal-footer btn-toolbar" role="toolbar" aria-label="...">
        <button type="button" class="btn btn-primary pull-right" (click)="DeleteProjectData(tempProjectDetails)">Submit</button>
        &emsp;
        <button type="button" class="btn btn-danger pull-right" (click)="hideDeleteProjectDetails()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
